.member-list {
    width: 100%;
}

.e-descript {
    margin: 20px 0;
}

/*

.carousel-control.left {
	left: -50px;

}

#myCarousel-1:hover .carousel-control.left{

	left: 0px;

}


.carousel-control.right {
    right: -50px;

}



 #myCarousel-1:hover .carousel-control.right {
	right: 0px;
 }
*/

body.reunion #file {

  width: 57%;
}

body.contact-us .heading-container {
	margin-bottom: 30px;
    text-align: center;
}

.carousel-indicators {
	z-index: 11;
}

.alumni-menu li.alumni-active a {
	color: #fff;
}
.alumni-menu li:hover a {
	color: #fff;
}

.alumni-menu-stick {
    width: 800px;

}
.table-c {
    height: 100%;
    display: table;
    width: 100%;
}

.tcontent {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.table-c h1 {
    font-size: 80px;
    line-height: 110px;
    margin-bottom: 20px;
}
p.sub-title {
    font-size: 14px;
    margin-bottom: 30px;
    max-width: 470px;
    text-align: center;
    margin: auto;
    /* display: inline-block; */
    margin-bottom: 39px;
}

a.button {
    border: 1px solid #ddd;
    padding: 16px 60px;
    display: inline-block;
}

body.thank-you  .page-wrap {
	/*height: 100%;*/
}

body.thank-you .page-wrap .container {
	height: calc(100% - 390px);    margin-bottom: 70px;
    margin-top: 70px;
}

  




@media (max-width: 991px) {

	body.thank-you .page-wrap .container {
	    margin-bottom: 110px;
	    margin-top: 150px;
	    height: auto !important;
	}
	body.thank-you .page-wrap  {
	    
	    height: auto !important;
	    min-height: auto;
	}
	.tab-wrapper #myTab li a {
		padding-left: 0;
		padding-right: 0;
	}
	.tab-wrapper #myTab li a {
	    font-size: 13px;
    	padding: 10px 13px;
	}	

	body.reunion #file {
	
	  width: 100%;
	}
	.gallery-anchor .overlay {
		top: -100% !important;
	}
	.alumni-menu {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.nav-tabs-responsive>li.active {
	    width: 70%;
	}
	.nav-tabs-responsive>li.active:first-child {
	    margin-left: 23%;
	}
	.nav-tabs-responsive>li {
	    width: 13%;
	}
	.nav-tabs-responsive>li.active:first-child {
	    margin-left: 13%;
	}
	.contact-form .field-container {
		margin-top: 10px;
	}
}
@media (max-width: 500px) {
	
	.slider-home #myCarousel-1 .carousel-control {
		display: none;
	}	

	.table-c h1 {
	    font-size: 50px;
	    line-height: 50px;
	    margin-bottom: 20px;
	}
	p.sub-title {
		font-size: 13px;
	}

	body.thank-you .page-wrap .container {
	    margin-bottom: 110px;
	    margin-top: 140px;
	    height: auto !important;
	}
}


.alumni-menu {
	width: 100%;
}

.alumni-menu li {
    float: left;
    border: 1px solid #ccc;
    width: 20%;
    padding: 20px 10px;
    background-color: #fff;
    transition: all .5s ease;
    text-align: center;
}

#what_we_need .heading-container h3 {
	text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    display: inline-block;
    position: relative;
    padding: 0 20px;
}
#what_we_need h3 {
	font-size: 22px;
    margin: 30px 0 10px 0;
    color: #0061a9;
}
#what_we_need ul {
    margin: 10px 0 20px 0;
}

   